/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.grid-container {
  display: grid;
  background-color: green;
  grid-template-columns: 80px 70px 70px 70px 70px 70px 100px 100px 60px;
  grid-template-rows: repeat(6, 70px) 80px 80px 40px 50px;
}

.grid-item {
  background-color: white;
  padding: 1rem;
  margin: 4px;
  text-align: center;
}

.one {
  grid-column-start: 1;
  grid-column-end: 3;
}

.two {
  grid-column-start: 3;
  grid-column-end: 7;
}
.three {
  grid-column-start: 7;
  grid-column-end: 9;
}

.four {
  grid-row-start: 2;
  grid-row-end: 4;
}

.five {
  grid-row-start: 2;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 7;
}

.six {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 7;
  grid-column-end: 9;
}
.seven {
  grid-row-start: 1;
  grid-row-end: 8;
  grid-column-start: 9;
  grid-column-end: 10;
}

.eight {
  grid-row-start:4;
  grid-row-end: 8;
  grid-column-start:1;
  grid-column-end: 1;
}

.nine {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 7;
  grid-column-end:7;
}

.ten {
  grid-row-start:4;
  grid-row-end: 7;
  grid-column-start:8;
  grid-column-end:8;
}

.eleven {
  grid-row-start:7;
  grid-row-end:9;
  grid-column-start:2;
  grid-column-end: 5;
}

.twelve {
  grid-row-start:7;
  grid-row-end: 8;
  grid-column-start:5;
  grid-column-end: 7;
}

.thirteen {
  grid-row-start:7;
  grid-row-end:7;
  grid-column-start: 7;
  grid-column-end: 9;
}

.fourteen {
  grid-row-start: 8;
  grid-row-end: 11;
  grid-column-start:1;
  grid-column-end: 1;
}

.fifteen {
  grid-row-start:8;
  grid-row-end: 9;
  grid-column-start:5;
  grid-column-end: 7;
}

.sixteen {
  grid-row-start: 8;
  grid-row-end: 10;
  grid-column-start:7;
  grid-column-end: 9;
}

.seventeen {
  grid-row-start: 9;
  grid-row-end:11;
  grid-column-start: 2;
  grid-column-end: 5;
}

.eighteen {
  grid-row-start: 9;
  grid-row-end:10;
  grid-column-start:5;
  grid-column-end: 7;
}

.nineteen {
  grid-row-start: 8;
  grid-row-end: 11;
  grid-column-start:9;
  grid-column-end: 10;
}

.twenty{
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start:5;
  grid-column-end: 9;
}